:root {

/* Variables reshulonas para cards reshulonas */

  /* color */
  --fg-color: #222;
  --fg-color-subtle: #696969;
  --bg-page: #eee;
  --bg-card: #fff;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --inactive-color: rgba(0, 0, 0, 0.4);
  --active-color: rgba(255, 255, 255, 0.4);

  /* dimension */
  --none: 0px;
  --unit: 1px;
  --base: 4px;
  --size50: calc(var(--base) / 2);    /* 2 */
  --size100: calc(var(--base) * 1);   /* 4 */
  --size150: calc(var(--base) * 1.5); /* 6 */
  --size200: calc(var(--base) * 2);   /* 8 */
  --size250: calc(var(--base) * 2.5); /* 10 */
  --size300: calc(var(--base) * 3);   /* 12 */
  --size350: calc(var(--base) * 3.5); /* 14 */
  --size400: calc(var(--base) * 4);   /* 16 */
  --size450: calc(var(--base) * 4.5); /* 18 */
  --size500: calc(var(--base) * 5);   /* 20 */
  --size600: calc(var(--base) * 6);   /* 24 */
  --size700: calc(var(--base) * 7);   /* 28 */
  --size800: calc(var(--base) * 8);   /* 32 */
  --size900: calc(var(--base) * 9);   /* 36 */
  --size1000: calc(var(--base) * 10); /* 40 */
  --size1200: calc(var(--base) * 12); /* 48 */
  --size2000: calc(var(--base) * 20); /* 80 */
  --total: 100%;

  /* size */
  --card-width: calc(var(--base) * 72);
  --card-max-width: calc(var(--base) * 80);

  /* timing */
  --anim-dur: 0.3s;
  --anim-func: ease-in-out;
  --transition: all var(--anim-dur) var(--anim-func);

  /* shadow */
  --shadow-small: 
    /* offsetX */ var(--none)
    /* offsetY */ var(--size100)
    /* blur */ var(--size200) 
    /* spread */ var(--none) 
    /* color */ var(--shadow-color);
  --shadow-big: 
    /* offsetX */ var(--none)
    /* offsetY */ var(--size1000)
    /* blur */ var(--size2000) 
    /* spread */ calc(var(--size1000) * -1) 
    /* color */ var(--shadow-color);

  /* typography */
  --main-typography: Arial, sans-serif;
  --font-strong: bold;
  --font-regular: normal;
  --font-size-sm: var(--size350);
  --font-size-md: var(--size400);
  --font-height-sm: var(--size400);
  --font-height-md: var(--size450);

}

/* Resets */

body{
  background-color: var(--bg-page);
  color: var(--fg-color);
  display: grid;
  width: calc(100vw - var(--size500));
  height: calc(100vh - var(--size500));
  justify-content: center;
  align-items: center;
  font-family: var(--main-typography);
}

.card__container{
  box-sizing: border-box;
  width: var(--card-width);
  max-width: var(--card-max-width);
  padding: var(--size200);
  border-radius: var(--size500) var(--size500) var(--size300) var(--size300);
  transition: var(--transition);
  display: flex;
  flex-direction: column;
  gap: var(--size250);
}

.card__container:hover{
background-color: var(--bg-card);
transform: scale(1.01);
box-shadow: var(--shadow-big);
transition: var(--transition);
}

.card__container:hover .card__image{
  transform: scale(1.05);
  transition: var(--transition);
}

.card__container .card__image-container{
  overflow: hidden;
  position: relative;
  width: var(--total);
  height: 256px;
  background-color: var(--fg-color-subtle);
  border-radius: var(--size300);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--size300);
  box-sizing: border-box;
}

.card__container .card__image{
  position: absolute;
  top: var(--none);
  bottom: var(--none);
  left: var(--none);
  right: var(--none);
  height: var(--total);
  width: var(--total);
  object-fit: cover;
  object-position: center;
  transition: var(--transition);
}

.card__container .card__tag-container{
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.card__container .card__tag{
  box-sizing: border-box;
  background-color: var(--bg-card);
  font-size: var(--font-size-sm);
  line-height: var(--font-height-sm);
  letter-spacing: -0.14px;
  font-weight: bold;
  padding: var(--size150) var(--size300);
  border-radius: var(--size300);
  max-width: 190px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: var(--shadow-small);
}

.card__container .card__fav-trigger{
  width: var(--size500);
  height: var(--size500);
  padding: var(--size100);
}

.card__container .card__fav-trigger--inactive .icon{
  overflow: visible;
  stroke: #fff;
  stroke-width: var(--size1200);
  fill: var(--inactive-color);
  transition: var(--transition)
}

.card__container .card__fav-trigger--inactive .icon:hover{
  fill: var(--active-color);
  transition: var(--transition);
  cursor: pointer;
}

.card__container .card__carousel-control{
  display: flex;
  justify-content: center;
  gap: var(--size100);
  margin: var(--none); 
  padding:  var(--none); 
  line-height:  var(--none); 
  list-style-type: none;
  width: var(--total)
}

.card__container .card__carousel-control .card__carousel-item{
  width: var(--size150);
  height: var(--size150);
  background-color: var(--bg-card);
  border-radius: var(--total);
  opacity: 0.6;
}

.card__container .card__carousel-control .card__carousel-item:first-child{
  opacity: 1;
  z-index: 1; /* Este no lo entiendo, sin z-index ESTE se va patrás */
}

.card__container .card__carousel-control .card__carousel-item:nth-last-child(2){
  transform: scale(0.8);
}

.card__container .card__carousel-control .card__carousel-item:last-child{
  transform: scale(0.6);
}

.card__container .card__text-container {
  display: flex;
  flex-direction: column;
  gap: var(--size100);
}

.card__container p {
  font-size: var(--font-size-md);
  line-height: var(--font-height-md);
  font-weight: var(--font-regular);
  letter-spacing: -0.32px;
  margin: var(--none);
}

.card__container .card__title-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__container .card__title{
  font-size: var(--font-size-md);
  line-height: var(--font-height-md);
  font-weight: var(--font-strong);
  letter-spacing: -0.64px;
  margin: var(--none);
}

.card__container .card__description,
.card__container .card__date
{
  color: var(--fg-color-subtle);
}

.card__container .card__rating{
  display: flex;
  align-items: center;
  gap: var(--size100);
}

.card__container .card__rating-star{
  box-sizing: border-box;
  width: var(--size400);
  height: var(--size400);
}

.card__container .card__price .card__price-amount{
  font-weight: var(--font-strong);
}

